{% extends 'base.html' %}

{% block title %}my site{% endblock %}

{% block content %}

<main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          Добро пожаловать на мой первый сайт
        </h3>
  
        <div class="blog-post">
          <h2 class="blog-post-title">Информационный сайт для отработки механизмов</h2>
          <p class="blog-post-meta">Сентябрь 28, 2020 год</p>
  
          <p>Мой первый проект на Django.</p>
          <hr>
          <p>Меня зовут Ярошевич Александр, первый веб проект, на котором будет информация о гитарах.</p>
          <blockquote>
            <p>И немного пожеланий или цитат, которые смогут добавить посетители данного сайта</p>
          </blockquote>
          <p>Навигация по сайту расположена в шапке.</p>
          <img src="https://im0-tub-by.yandex.net/i?id=12794abd3d774f5b47478cc311132a4d&n=13"/><br>
        </div><!-- /.blog-post -->

  
      </div><!-- /.blog-main -->
  

  
        <div class="p-4">
          <h4 class="font-italic">Еще ссылочки</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/SashaYaroshevich">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </aside><!-- /.blog-sidebar -->
  
    </div><!-- /.row -->
  
  </main><!-- /.container -->


{% endblock %}
