{% extends 'base.html' %}

{% block title %}Виды гитар{% endblock %}

{% block content %}
<img src="https://im0-tub-by.yandex.net/i?id=dc04f593de40ca257b9fea1670fc0a6e&n=13"/><br>
<h1>Список гитар</h1>
    {% if latest_guitars_list %}
    
        {% for a in latest_guitars_list %}
            <a href="{% url 'guitars:detail' a.id %}">{{a.guitar_title}}</a><br>    
        {% endfor %}

    {% else %}
        не найдены )=
    {% endif %}

    <img src="https://img2.goodfon.ru/original/2048x1365/f/bb/family-portrait-gitary-muzyka.jpg" height="900" width="1200"  /><br>
{% endblock %}
